--
-- PostgreSQL database dump
--

\restrict CPbqCXFvsuJZOnBV8gk1IV1PM9Rib8GG0HM2GfGckcSmeTkdvfgu2LMpt5F5HDV

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: cau_thai_images; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cau_thai_images (id, thai_id, year, image_url, title, lunar_label, is_featured, created_at, khung_id, is_active, description) FROM stdin;
\.


--
-- Data for Name: community_posts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.community_posts (id, thai_id, youtube_id, title, content, like_count, is_pinned, is_approved, created_at) FROM stdin;
7d13d866-0f95-4a32-b33d-67b4d9e873db	an-nhon	6g9RdLC3U8o	Test thß╗¡	Video Cß╗ò Nh╞ín nh╞░ng ├⌐o li├¬n quan Cß╗ò Nh╞ín	1	f	t	2026-02-05 02:50:59.896311
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: community_comments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.community_comments (id, post_id, user_id, user_name, user_phone, content, created_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.orders (id, session_id, user_id, total, status, payment_code, payment_url, payment_expires, created_at, paid_at) FROM stdin;
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.order_items (id, order_id, animal_order, animal_name, quantity, unit_price, subtotal) FROM stdin;
\.


--
-- Data for Name: post_likes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.post_likes (post_id, user_id, created_at) FROM stdin;
7d13d866-0f95-4a32-b33d-67b4d9e873db	f37c762e-dcb8-4521-9f57-e6253b56deaf	2026-02-05 03:16:14.135991
\.


--
-- Data for Name: session_animals; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- PostgreSQL database dump complete
--

\unrestrict CPbqCXFvsuJZOnBV8gk1IV1PM9Rib8GG0HM2GfGckcSmeTkdvfgu2LMpt5F5HDV

